@import 'reset.css';
@import '#GECK/UI/imports';

:root {
  --color-brand: #00a908;
  --color-brand-hover: #00dc0a;
  --color-canvas: #fff;
  --color-ink: #1b1c1d;
  --color-text-secondary: #645f75;
  --color-background-layout: #f6fafd;
  --color-background-code: #fff1e5;
  --color-link: var(--color-brand);
  --color-link-hover: var(--color-brand-hover);
  --Button-border-radius: 2px;
  --color-background-content-secondary: #ffe4da;
  --color-background-note: #fbf7ec;

  --font-default: 'Inter', sans-serif;
  --font-header: var(--font-default);
}

button {
  padding: 0;
}

html {
  box-sizing: border-box;
  height: 100%;

  @media (--mobile-medium) {
    font-size: 15px;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  overflow: hidden;
  overflow-y: scroll;
  height: 100%;
  color: var(--color-text);
  background: var(--color-background-layout);
}

body,
input,
button,
textarea,
select {
  font-family: var(--font-default);
}

svg {
  fill: currentColor;
}

body:global(.development) undefined {
  display: block;
  border: 1px solid magenta;
}

:global(#ui) {
  height: 100%;
}
